<%- include('includes/head.ejs') %>
</head>
<body>
    <form action="/add-users" method="POST">
        <div>
            <button type="submit"><%= pageTitle %></button>
            <label for="title">Name</label>
            <input type="text" name="title" id="title">
        </div>        
    </form>
</body>
</html>