<%- include('includes/head.ejs') %>
</head>
<body>
    <% if (names.length > 0) { %>
    <ul>
        <% for (let name of names) { %>
        <li><%= name %></li>
        <% } %>
    </ul>
    <% } else { %>
    <h1>No names entered!</h1>
    <% } %>    
</body>
</html>